body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Universal styling */
/*color pallat taken from https://coolors.co/2d3047-93b7be-e0ca3c-a799b7-048a81 */
:root {
  --primary: #717568ff;
/*dim gray*/
--secondary: #bacba9ff;
/*sage*/
--tertiary: #f1bf98ff;
/*peach*/
--quarternary: #e1f4cbff;
/*nyanza*/
--background: #3f4739ff;
/*black-olice*/
}

/* CSS HEX */
/*--peach: #f1bf98ff;
--nyanza: #e1f4cbff;
--sage: #bacba9ff;
--dim-gray: #717568ff;
--black-olive: #3f4739ff;*/

/*Header component styling*/

#navheader {
  font-size: 2.5em;
  font-weight: 700;
  color: var(--tertiary);
}

.header {
  background-color: var(--background);
}

.navbuttons {
  background-color: var(--tertiary);
  color: var(--primary);
  font-weight: 500;
  font-size: 1.5em;
}

/*Home page styling*/

.homeheader{
  background-color: var(--quarternary);
  font-size: 1.5em;
  font-weight: 500;
  color: var(--primary);
}

.about {
  background-color: var(--primary);
  height: 100%;
  border: '2px solid #e1f4cbff';
}

.info {
  background-color: var(--tertiary);
  font-size: 1em;
  font-weight: 400;
  color: var(--primary);
}

/*Foot styling*/

.foot {
  background-color: var(--background);
}